body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Muli', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Noto Serif SC', serif;
}
.jumbotron {
  background-color: #0C2340;
  color: #ffffff;
  text-align: center;
}
#technical,
#skills {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
#skills {
  flex-direction: column;
  padding-bottom: 25px;
}
#skills h4 {
  text-align: center;
  text-transform: uppercase;
}
.tech-card {
  width: 32.5%;
  margin: 0 2.5%;
  display: flex;
  flex-direction: column;
  border: 1px solid #0C2340;
}
.tech-card h3 {
  padding-top: 10px;
}
.tech-card img {
  width: 100%;
  height: 300px;
}
#about {
  height: 450px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 25px;
}
#about .selfie {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype');
}
#about * {
  box-sizing: border-box;
  font-weight: normal;
}
#about h1 {
  font-size: 2.2em;
}
#about .fr-img {
  background-image: url(../img/julieandme.jpg);
}
#about .flip {
  position: relative;
}
#about .flip > .front,
#about .flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
#about .flip > .front {
  transform: rotateY(0deg);
}
#about .flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
#about .flip:hover > .front {
  transform: rotateY(180deg);
}
#about .flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
#about .flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
#about .flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
#about .flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}
#about .flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 100%;
}
#about .flip > .front,
#about .flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover!important;
  background-position: center!important;
  height: 400px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
#about .flip > .front p,
#about .flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}
#about .text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.form-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}
#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 50px 0;
}
#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}
#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0CF;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 75px;
  background-color: #BD3039;
}
header h1 {
  padding-left: 15px;
  color: #FFFFFF;
}
header ul {
  padding-right: 15px;
}
nav,
ul {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}
nav li,
ul li {
  list-style-type: none;
  margin: 0 10px;
}
nav li a,
ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
nav li a:hover,
ul li a:hover {
  color: black;
}
.footer {
  height: 75px;
  background-color: #BD3039;
  display: flex;
}
.footer-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-content a:hover {
  color: black;
}
.footer-content .footlogo {
  color: white;
}
