.footer {
	height: 75px;
	background-color: #BD3039;
	display: flex;
	
}

.footer-content {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		color: white;
		text-transform: uppercase;
		text-decoration: none;
	}

	a:hover {
		color: black;
	}

	.footlogo {
		color: white;
	}
}