header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	height: 75px;
	background-color: #BD3039;

	h1 {
		padding-left: 15px;
		color: #FFFFFF;
	}

	ul {
		padding-right: 15px;
	}
}

nav, ul {
	display: flex;
	flex-direction: row;
	padding-top: 5px;

	li {
		list-style-type: none;
		margin: 0 10px;

		a {
			text-transform: uppercase;
			text-decoration: none;
			color: white;
		}

		a:hover {
			color: black;
		}
	}
}

